@font-face {
    font-family: "SolaimanLipi";
    src: url('../font/SolaimanLipi.ttf') format('TrueType');
}
@import "tailwindcss";
@theme{
    --breakpoint-nin: 900px;
    --breakpoint-sd: 480px;
    --breakpoint-st: 440px;
    --font-lipi: "SolaimanLipi",sans-serif;
}