@font-face{
  font-family: 'CustomFont';
  src: url("../fonts/SolaimanLipi.ttf");
}
@import "tailwindcss";
@plugin "daisyui";
 @plugin "daisyui" {
   themes: light --default;
 }
 @utility btn {
   @apply bg-white text-black;
 }
 @theme{
  --font-bangla: 'CustomFont', sans-serif;
 }